<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Marv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="KocViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WPFToolkit.Extended" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.4644.13122" newVersion="1.7.4644.13122" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="QuickGraph" publicKeyToken="f3fb40175eec2af3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.40122.0" newVersion="3.2.40122.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Marv.Properties.Settings>
      <setting name="StartYear" serializeAs="String">
        <value>1973</value>
      </setting>
      <setting name="EndYear" serializeAs="String">
        <value>2011</value>
      </setting>
      <setting name="FitToPad" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="CacheDirectory" serializeAs="String">
        <value>.\</value>
      </setting>
      <setting name="IsMapVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsYearSliderVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsMenuVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsLogoVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InputFileName" serializeAs="String">
        <value>D:\Data\CNPC\Line.xlsx</value>
      </setting>
      <setting name="IsPropertyGridVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NetworkFileName" serializeAs="String">
        <value>D:\Data\CNPC\MODEL_CNPC_11072013Coalescence.net</value>
      </setting>
      <setting name="InputDir" serializeAs="String">
        <value>D:\Data\CNPC\GraphValues</value>
      </setting>
    </Marv.Properties.Settings>
    <KocViewer.Properties.Settings>
      <setting name="StartYear" serializeAs="String">
        <value>2004</value>
      </setting>
      <setting name="EndYear" serializeAs="String">
        <value>2012</value>
      </setting>
      <setting name="FitToPad" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="TallyFileName" serializeAs="String">
        <value>D:\Data\Koc\Tally.xlsx</value>
      </setting>
      <setting name="ProfileFileName" serializeAs="String">
        <value>D:\Data\Koc\ProfileShifted.xlsx</value>
      </setting>
      <setting name="IsSensorButtonVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CacheDirectory" serializeAs="String">
        <value>.\</value>
      </setting>
    </KocViewer.Properties.Settings>
  </userSettings>
</configuration>