<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Product 
    Id="17d61dc1-d1e3-4420-90b5-89803edc5469" 
    Name="MARV Excel Add-In" 
    Language="1033" 
    Version="1.0.0" 
    Manufacturer="DNV GL" 
    UpgradeCode="17d61dc1-d1e3-4420-90b5-89803edc546a" 
    Codepage="1252">
    
  	<Package 
      InstallerVersion="200" 
      Compressed="yes" 
      InstallScope="perUser" 
      Description="MARV Excel Add-In"
      Manufacturer="DNV GL"
      Languages="1033"
      SummaryCodepage="1252" 
      InstallPrivileges="limited"
    />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="Marv.Excel.cab" EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    
    <Feature Id="ProductFeature" Title="MARV Excel Add-In" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentRef Id="INSTALLFOLDER" />
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Binary Id="adxregistrator_exe" SourceFile="$(var.ADX_PATH)\Redistributables\adxregistrator.exe" />
    
    <CustomAction Id="RegisterApp" BinaryKey="adxregistrator_exe" Execute="deferred" ExeCommand='/install="[INSTALLFOLDER]$(var.Marv.Excel.TargetFileName)" /privileges=user /returnExitCode=false' Impersonate="yes" />
    <CustomAction Id="RollbackApp" BinaryKey="adxregistrator_exe" Execute="rollback" ExeCommand='/uninstall="[INSTALLFOLDER]$(var.Marv.Excel.TargetFileName)" /privileges=user' Impersonate="yes" Return="ignore" />
    <CustomAction Id="UnregisterApp" BinaryKey="adxregistrator_exe" Execute="deferred" ExeCommand='/uninstall="[INSTALLFOLDER]$(var.Marv.Excel.TargetFileName)" /privileges=user' Impersonate="yes" Return="ignore" />

    <InstallExecuteSequence>
      <Custom Action="RegisterApp" After="StartServices"><![CDATA[$ProductComponent>2]]></Custom>
      <Custom Action="RollbackApp" After="RegisterApp"><![CDATA[$ProductComponent>2]]></Custom>
      <Custom Action="UnregisterApp" After="MsiUnpublishAssemblies"><![CDATA[$ProductComponent=2]]></Custom>
    </InstallExecuteSequence>

    <!-- Properties for all current versions of the .NET Framework are available here: http://wix.sourceforge.net/manual-wix3/wixnetfxextension.htm -->
    <PropertyRef Id="NETFRAMEWORK40CLIENT"/>
    <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40CLIENT]]>
    </Condition>

  </Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="LocalAppDataFolder">
				<Directory Id="INSTALLFOLDER" Name="MARV Excel Add-In" >
         <Component Id="INSTALLFOLDER" Guid="db0d338a-e060-41c9-89b2-d583bc5ab16c">
            <RemoveFolder On="both" Id="INSTALLFOLDER"/>
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="MARV Excel Add-In" />
          </Component>
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" >
      <Component Id="ProductComponent" Guid="336c9cd3-1e9a-4334-b915-cb35cede6d27" DiskId="1" Directory="INSTALLFOLDER" >
        <RegistryKey Root="HKCU" Key="Software\[Manufacturer]\[ProductName]">
          <RegistryValue Type="string" Name="Installed" Value="[INSTALLFOLDER]" KeyPath="yes" />
        </RegistryKey>
        <File Id="_$(var.Marv.Excel.TargetName)_dll" Name="$(var.Marv.Excel.TargetFileName)" Source="$(var.Marv.Excel.TargetPath)" />
        <File Id="_adxloader_dll_manifest" Name="adxloader.dll.manifest" Source="$(var.Marv.Excel.ProjectDir)Loader\" />
        <File Id="_adxloader_dll" Name="adxloader.dll" Source="$(var.Marv.Excel.ProjectDir)Loader\"  />
        <File Id="_adxloader64_dll" Name="adxloader64.dll" Source="$(var.Marv.Excel.ProjectDir)Loader\" />
        <File Id="_AddinExpress_MSO_2005_dll" Name="AddinExpress.MSO.2005.dll" Source="C:\Program Files (x86)\Add-in Express\Add-in Express for .NET\Bin\" />
				<File Id="_AddinExpress_XL_2005_dll" Name="AddinExpress.XL.2005.dll" Source="C:\Program Files (x86)\Add-in Express\Add-in Express for .NET\Bin\" />
				<File Id="_Marv_Common_dll" Name="Marv.Common.dll" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_Marv_Common_Graph_dll" Name="Marv.Common.Graph.dll" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_Microsoft_Office_Interop_Excel_dll" Name="Microsoft.Office.Interop.Excel.dll" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_Telerik_Windows_Controls_dll" Name="Telerik.Windows.Controls.dll" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_Telerik_Windows_Controls_Input_dll" Name="Telerik.Windows.Controls.Input.dll" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_Marv_Common_Graph_pdb" Name="Marv.Common.Graph.pdb" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_Marv_Common_pdb" Name="Marv.Common.pdb" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_Microsoft_Vbe_Interop_dll" Name="Microsoft.Vbe.Interop.dll" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_MoreLinq_dll" Name="MoreLinq.dll" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_MoreLinq_xml" Name="MoreLinq.xml" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_NDatabase3_dll" Name="NDatabase3.dll" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_NDatabase3_pdb" Name="NDatabase3.pdb" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_NDatabase3_xml" Name="NDatabase3.xml" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_Newtonsoft_Json_dll" Name="Newtonsoft.Json.dll" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_Newtonsoft_Json_xml" Name="Newtonsoft.Json.xml" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_NLog_config" Name="NLog.config" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_NLog_dll" Name="NLog.dll" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_NLog_xml" Name="NLog.xml" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_Office_dll" Name="Office.dll" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_QuickGraph_Data_dll" Name="QuickGraph.Data.dll" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_QuickGraph_Data_xml" Name="QuickGraph.Data.xml" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_QuickGraph_dll" Name="QuickGraph.dll" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_QuickGraph_Graphviz_dll" Name="QuickGraph.Graphviz.dll" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_QuickGraph_Graphviz_xml" Name="QuickGraph.Graphviz.xml" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_QuickGraph_Serialization_dll" Name="QuickGraph.Serialization.dll" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_QuickGraph_Serialization_xml" Name="QuickGraph.Serialization.xml" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_QuickGraph_xml" Name="QuickGraph.xml" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_SmileNet_dll" Name="SmileNet.dll" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_Telerik_Windows_Controls_Input_xml" Name="Telerik.Windows.Controls.Input.xml" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_Telerik_Windows_Controls_xml" Name="Telerik.Windows.Controls.xml" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_Telerik_Windows_Diagrams_Core_dll" Name="Telerik.Windows.Diagrams.Core.dll" Source="$(var.Marv.Excel.TargetDir)" />
				<File Id="_Telerik_Windows_Diagrams_Core_xml" Name="Telerik.Windows.Diagrams.Core.xml" Source="$(var.Marv.Excel.TargetDir)" />
      </Component>
		</ComponentGroup>
	</Fragment>
 </Wix>